# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
.vscode/
*.iml

# Windows build
windows/runner/Debug/
windows/runner/Release/
windows/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Runner.xcworkspace/
macos/build/

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/.symlinks
ios/Pods
ios/build/
ios/Runner.xcworkspace

# Android
android/.gradle/
android/captures/
android/gradle-wrapper.properties
android/local.properties
android/build/

# Others
.DS_Store
*.log
*.lock
*.tmp

# VS Code
.vscode/

# Output executables
*.exe
*.dll
*.so
*.dylib

# Optional
pubspec.lock
